.form__data{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form__heading{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.submitBtn{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: black;
    color: wheat;
    margin: 10px;
}


